# Load parameteres with traces from CSV and calculate their features

In [1]:
import os
import glob
import shutil
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
os.chdir('../')

In [56]:
# from utils import calc_features_step, calc_ramp_sum_stats, find_spikes
from utils import calc_ramp_sum_stats, find_spikes

In [2]:
from dap import DAPcython
from dap.utils import obs_params, load_current
from tqdm import tqdm
from scipy.spatial import distance

In [ ]:
from utils import

In [3]:
dt = 1e-2
params, labels = obs_params(reduced_model=False)
data_dir = '/home/alteska/Desktop/LFI_DAP/data/rawData/2015_08_26b.dat'

In [4]:
# load the file
directory = './parameters/'
dir = glob.glob(directory + '*')

In [5]:
fname_start = dir[0].find('dap_')
fname_stop = dir[0].find('n_')
fname = dir[0][fname_start:fname_stop] + '.csv'

In [6]:
df_param = pd.read_csv(fname)
df_param.head()

  Unnamed: 0   gbar_nap  gbar_leak    gbar_nat  gbar_kdr
0       1x14  17.173732   1.074666  131.422942  3.410514
1       1x35  17.097219   1.039869  117.684230  3.737484
2        1x9  19.007380   0.991425   95.365731  2.976070
3       1x19  16.370543   1.028504  141.774573  3.430032
4       1x24  15.153335   1.100184  163.721094  3.055541

In [7]:
df_param.set_index('Unnamed: 0', inplace=True)
df_param.head()

             gbar_nap  gbar_leak    gbar_nat  gbar_kdr
Unnamed: 0
1x14        17.173732   1.074666  131.422942  3.410514
1x35        17.097219   1.039869  117.684230  3.737484
1x9         19.007380   0.991425   95.365731  2.976070
1x19        16.370543   1.028504  141.774573  3.430032
1x24        15.153335   1.100184  163.721094  3.055541

In [8]:
# calculate DAP
# load the input data
Ir, vr, tr, t_onr, t_offr, dtr = load_current(data_dir, protocol='rampIV', ramp_amp=3.1)
Is, vs, ts, t_ons, t_offs, dts = load_current(data_dir, protocol='IV', ramp_amp=1)

In [9]:
# define a model
dap = DAPcython(-75, params)

In [10]:
# run models on original parameters
U_step = dap.simulate(dts, ts, Is)
U_ramp = dap.simulate(dtr, tr, Ir)

In [11]:
# calculate the similarities
d_step = distance.euclidean(vs, U_step)
d_ramp = distance.euclidean(vr, U_ramp)

In [13]:
# run for all cells and save into the the DF
df_paramT = df_param.transpose()
df_paramT.head()

Unnamed: 0,1x14,1x35,1x9,1x19,1x24,1x16,1x31k,1x12,1x27,1x23,...,1x29,1x32,1x38,1x25,1x22,1x33,1x11k,1x21k,1x34,1x17
gbar_nap,17.173732,17.097219,19.007380,16.370543,15.153335,16.515891,14.387062,16.183388,16.586714,18.934190,...,17.687560,16.339341,15.024635,16.749955,15.366489,18.050893,19.543175,16.077841,16.412064,16.126095
gbar_leak,1.074666,1.039869,0.991425,1.028504,1.100184,1.121755,1.093874,1.035868,1.046909,1.025682,...,1.071797,0.990389,1.095737,1.124608,1.031578,1.071510,1.085424,0.998721,1.044613,1.050323
gbar_nat,131.422942,117.684230,95.365731,141.774573,163.721094,120.139337,164.149919,108.916781,169.625743,115.465286,...,95.583603,153.130788,178.050132,118.796892,166.834822,113.726997,125.532725,141.340125,160.322308,115.380782
gbar_kdr,3.410514,3.737484,2.976070,3.430032,3.055541,3.414985,3.128166,2.994278,3.174331,3.194553,...,3.464703,3.134960,3.207311,3.086094,3.103938,3.787249,3.164570,3.846042,3.103724,3.335470

In [20]:
U_steps, U_ramps = [], []

In [33]:
for i, j in tqdm(df_param.iterrows()):
    # get parameters
    par_temp = j.values

    # define a model
    dap = DAPcython(-75, j)

    # run model
    U_step_x = dap.simulate(dts, ts, Is)
    U_ramp_x = dap.simulate(dtr, tr, Ir)

    # run model
    U_steps.append(U_step_x)
    U_ramps.append(U_ramp_x)

    # calculate distance for both currents
    dis_step = distance.euclidean(vs, U_step_x)
    dis_ramp = distance.euclidean(vr, U_ramp_x)

    # save into new columns
    df_paramT.loc[i, 'distance_ramp'] = dis_ramp
    df_paramT.loc[i, 'distance_step'] = dis_step
    df_paramT.loc[i, 'distance_sum'] = dis_ramp + dis_step

34it [00:39,  1.14s/it]

In [35]:
U_steps[0]

In [38]:
stats = calc_features_step(U_steps[0], ts, dts, t_ons, t_offs)
stats

array([-69.09264538775403, 0.03299505873564305, 41,
       array([252.25, 252.35, 262.15, 274.15, 286.6 , 299.15, 311.75, 324.4 ,
       336.95, 349.55, 362.25, 374.95, 387.6 , 400.2 , 412.85, 425.5 ,
       438.15, 450.85, 463.5 , 476.15, 488.8 , 501.5 , 514.2 , 526.9 ,
       539.6 , 552.3 , 564.95, 577.7 , 590.35, 603.  , 615.65, 628.3 ,
       640.9 , 653.6 , 666.2 , 678.9 , 691.55, 704.2 , 716.9 , 729.55,
       742.25]),
       82.0, 12.250000000000004, 1.9984994370777323], dtype=object)

In [51]:
print(U_steps[15])

[-75.01744904 -74.90108798 -74.79126475 ... -52.22251678 -52.22002466
 -52.2388784 ]

In [57]:
def calc_features_step(U, t, dt, t_on, t_off):
    v = U.copy()
    N = v.shape[0]

    # resting potential
    rest_pot = np.mean(v[t<t_on])
    rest_pot_std = np.std(v[int(.9*t_on/dt):int(t_on/dt)])  
 
    ind = find_spikes(v)

    spike_times = np.array(t)[ind]
    spike_times_stim = spike_times[(spike_times > t_on)  & (spike_times < t_off)]
    ind_stim1 = ind[(spike_times > t_on) & (spike_times < t_off)]
    ind_stim = ind_stim1.astype(int)

    firing_rate = 1e3*np.absolute(spike_times_stim.shape[0]/(t_off-t_on))
    

    print(spike_times_stim)
    time_1st_spike = spike_times_stim[spike_times_stim>t_on][0]
    ISI = np.diff(spike_times_stim).astype(float)

    
    sum_stats_vec = np.array([
                rest_pot,
                rest_pot_std,
                len(spike_times_stim),
                spike_times_stim,
                firing_rate,
                ISI.mean(),
                ISI.std()
                ])


    return sum_stats_vec

In [58]:
stats_step = []


for i,u in enumerate(U_steps):
    print(i)
    stats = calc_features_step(u, ts, dts, t_ons, t_offs)
#     stats_step.append(stats)

0
[252.25 252.35 262.15 274.15 286.6  299.15 311.75 324.4  336.95 349.55
 362.25 374.95 387.6  400.2  412.85 425.5  438.15 450.85 463.5  476.15
 488.8  501.5  514.2  526.9  539.6  552.3  564.95 577.7  590.35 603.
 615.65 628.3  640.9  653.6  666.2  678.9  691.55 704.2  716.9  729.55
 742.25]
1
[253.75]
2
[254.6  261.6  268.55 275.45 282.35 289.25 296.15 303.05 309.95 316.85
 323.8  330.65 337.55 344.45 351.4  358.25 365.15 372.05 378.95 385.85
 392.75 399.65 406.55 413.45 420.35 427.25 434.15 441.05 447.95 454.85
 461.75 468.6  475.5  482.4  489.3  496.2  503.1  510.   516.9  523.8
 530.7  537.6  544.5  551.4  558.3  565.2  572.1  579.   585.9  592.8
 599.7  606.6  613.5  620.4  627.3  634.2  641.1  648.   654.9  661.8
 668.7  675.6  682.5  689.4  696.3  703.2  710.1  717.   723.9  730.8
 737.7  744.6 ]
3
[253.15 253.25 263.75 278.65 294.4  294.5  310.15 326.   341.8  357.6
 373.5  389.45 389.55 405.3  421.25 437.2  437.3  453.05 469.   469.1
 484.85 500.8  516.75 516.85 532.55 548.5  564.4  580.25 596.15 612.15
 628.1  628.2  644.   660.   675.9  676.   691.75 691.85 707.55 723.45
 739.45 739.55]
4
[253.   253.1  261.75 271.2  271.3  281.25 281.35 291.4  291.5  301.6
 301.7  311.8  311.9  321.95 322.05 332.15 332.25 342.4  352.75 363.05
 363.15 373.25 383.5  393.85 404.2  414.5  414.6  424.75 424.85 435.
 445.3  445.4  455.55 455.65 465.75 465.85 476.   486.3  496.55 506.85
 506.95 517.1  517.2  527.35 527.45 537.6  537.7  547.8  547.9  558.05
 558.15 568.3  578.6  578.7  588.8  599.1  599.2  609.3  609.4  619.5
 619.6  629.7  629.8  639.9  640.   650.15 650.25 660.45 660.55 670.65
 680.95 681.05 691.15 691.25 701.35 701.45 711.5  711.6  721.7  732.
 742.35]
5
[253.4  253.5  266.75 285.45 304.35 323.4  342.45 361.65 380.9  400.1
 419.35 438.5  457.7  477.   496.2  515.35 534.5  553.65 572.75 591.85
 611.   630.3  649.55 668.75 688.05 707.3  726.35 745.5 ]
6
[253.6  253.7  264.3  264.4  278.85 294.65 294.75 310.05 310.15 325.95
 326.05 341.8  357.9  358.   373.55 389.6  389.7  405.55 405.65 421.5
 421.6  437.55 453.65 453.75 469.55 469.65 485.3  485.4  501.   501.1
 516.75 516.85 532.5  532.6  548.35 548.45 564.25 580.35 580.45 595.95
 596.05 611.65 611.75 627.5  627.6  643.1  643.2  659.   659.1  674.7
 690.75 690.85 706.85 706.95 722.7  722.8  738.7  738.8 ]
7
[252.3  261.55 271.85 282.35 292.9  303.55 314.2  324.8  335.45 346.1
 356.75 367.45 378.15 388.8  399.45 410.15 420.8  431.45 442.1  452.75
 463.4  474.05 484.7  495.4  506.05 516.75 527.45 538.1  548.75 559.4
 570.1  580.75 591.4  602.05 612.7  623.4  634.05 644.65 655.3  665.95
 676.6  687.25 697.95 708.6  719.25 729.9  740.6 ]
8
[251.1  251.2  259.15 267.35 275.6  275.7  283.85 283.95 292.05 292.15
 300.25 308.5  308.6  316.7  316.8  324.95 325.05 333.15 333.25 341.35
 349.6  349.7  357.85 357.95 366.1  374.35 374.45 382.6  390.85 390.95
 399.05 407.3  407.4  415.55 415.65 423.8  423.9  432.05 440.3  440.4
 448.5  448.6  456.7  456.8  464.95 473.2  481.45 481.55 489.65 489.75
 497.85 497.95 506.1  514.35 514.45 522.55 522.65 530.75 539.05 547.3
 547.4  555.55 563.8  563.9  572.   580.25 588.5  596.75 596.85 605.
 613.25 621.5  621.6  629.75 629.85 638.   638.1  646.2  654.45 654.55
 662.7  670.95 671.05 679.15 687.4  687.5  695.6  703.85 712.15 720.4
 720.5  728.65 728.75 736.9  745.15 745.25]
9
[250.85 258.45 266.   273.45 280.9  288.3  295.75 303.15 310.6  318.05
 325.5  332.9  340.35 347.75 355.2  362.65 370.1  377.55 384.95 392.35
 399.8  407.25 414.7  422.15 429.6  437.   444.45 451.85 459.3  466.75
 474.15 481.6  489.05 496.45 503.9  511.35 518.75 526.2  533.65 541.05
 548.5  555.95 563.35 570.8  578.25 585.65 593.1  600.5  607.95 615.4
 622.85 630.25 637.7  645.1  652.55 660.   667.4  674.85 682.3  689.7
 697.15 704.6  712.   719.45 726.9  734.3  741.75 749.2 ]
10
[251.95]
11
[250.85 250.95 258.65 266.4  274.1  281.8  289.5  297.2  304.9  312.6
 320.3  328.   335.7  343.4  351.1  358.8  366.5  374.15 381.9  389.55
 397.25 397.35 404.95 412.65 420.35 428.05 435.75 435.85 443.45 451.1
 458.8  466.5  474.2  481.9  489.6  497.3  505.   512.7  520.4  528.1
 535.8  535.9  543.45 551.15 551.25 558.85 566.5  574.2  574.3  581.9
 589.55 597.25 597.35 604.95 605.05 612.65 620.3  628.   635.7  635.8
 643.4  651.1  658.8  666.45 674.15 674.25 681.85 689.5  697.2  704.9
 712.6  720.25 727.95 728.05 735.65 735.75 743.3  743.4 ]
12
[254.15 254.25]
13
[]

/home/alteska/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:29: RuntimeWarning: Mean of empty slice.

IndexError: index 0 is out of bounds for axis 0 with size 0

In [ ]:
# save the new data DataFrame
# df_paramT.to_csv(fname[:-4] + '_similarity.csv')

# remove the temp directory
# shutil.rmtree(directory)